*

!/.gitignore

!/tools
!/tools/samplefs
!/tools/samplefs/nvubuntu-jammy-lfs-aarch64-packages

!/nv_tools/
!/nv_tools/scripts
!/nv_tools/scripts/nv_customize_rootfs.sh

!/source
!/source/kernel
!/source/kernel/Makefile
!/source/nvdisplay
!/source/nvdisplay/kernel-open
!/source/nvdisplay/kernel-open/nvidia-drm
!/source/nvdisplay/kernel-open/nvidia-drm/nvidia-drm-connector.c
