*

!/.gitignore

!/tools
!/tools/samplefs
!/tools/samplefs/nvubuntu-jammy-lfs-aarch64-packages

!/source
!/source/kernel
!/source/kernel/Makefile

!/nv_tools/
!/nv_tools/scripts
!/nv_tools/scripts/nv_customize_rootfs.sh
